/* Font (see https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #6e28d9;
  color: azure;
}
main {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: "Carter One";
  text-shadow: 1px 1px 1px #5f065b;
}
a {
  font-family: sans-serif;
  color: lightgray;
  text-decoration: none;
}
a:hover {
  color:azure;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 4rem;
  }
}
